html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: $size-body;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 85%; 
    margin: 0 auto;

    @media (max-width: $middle) and (min-width: $small + 1) {
        width: 90%;
    }

    @media (max-width: $small) {
        width: 100%;
    }
}

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url(../fonts/arial.ttf);
}

.header-logo {
    position: absolute;
    z-index: 10;
    top: 5px;
    left: 8%;

    @media (max-width: $small) {
        margin-left: -50px;
        left: 50%;
    }
}


