.form {
    background-image: url(../img/form-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        flex-direction: column;

        .form-title {
            margin-top: 25px;
            margin-bottom: 10px;

            @media (max-width: $middle) {
                margin: 0 auto;
            }

            h2 {
                font-size: $subtitle;
                text-transform: uppercase;
                color: $white;
            }
        }

        .form-content {
            background-color: $color-shadow;
            padding: 0 35px 40px;
            margin-bottom: 40px;

            form {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                padding: 0;
                margin: 0;

                @media (max-width: $large) {
                    flex-wrap: wrap;
                }

                input {
                    font-size: $size-menu-btn;
                    padding-left: 10px;
                    color: $white;
                    outline: none;
                    background-color: transparent;
                    border-style: none;
                    border-bottom: 1px solid $tours-light-gray;

                    &::placeholder {
                        color: $white;
                        margin: 0;
                    }

                    &:hover,
                    &:focus {
                        border-image: none;
                        border-style: none;
                        border-bottom: 1px solid $tours-light-gray;
                    }

                    &:nth-child(1) {
                        @media (max-width: $large) and (min-width: $xsmall + 1) {
                            flex-basis: 45%;
                            margin-top: 30px;
                        }

                        @media (max-width: $xsmall) {
                            flex-basis: 100%;
                            margin-top: 30px;
                        }
                    }

                    &:nth-child(2) {
                        @media (max-width: $large) and (min-width: $xsmall + 1) {
                            flex-basis: 45%;
                            margin-top: 30px;
                        }

                        @media (max-width: $xsmall) {
                            flex-basis: 100%;
                            margin-top: 30px;
                        }
                    }

                    &:nth-child(3) {
                        @media (max-width: $small) and (min-width: $xsmall + 1) {
                            flex-basis: 45%;
                            margin-top: 30px;
                        }

                        @media (max-width: $xsmall) {
                            flex-basis: 100%;
                            margin-top: 30px;
                        }
                    }
                }

                select {
                    outline: none;
                    border-style: none;
                    background-color: transparent;
                    padding-left: 10px;
                    padding-right: 30px;
                    appearance: none;
                    font-size: $size-menu-btn;
                    color: $white;
                    background-image: url(../img/down.png);
                    background-repeat: no-repeat;
                    background-position: 100% 90%;

                    .fas {
                        color: $white;
                    }

                    option {
                        color: $color-text;
                    }

                    @media (max-width: $small) and (min-width: $xsmall + 1) {
                        flex-basis: 45%;
                        margin-top: 30px;
                    }

                    @media (max-width: $xsmall) {
                        flex-basis: 100%;
                        margin-top: 30px;
                    }
                   
                }

                .form-btn {
                    font-size: $size-menu-btn;
                    background-color: $color-main;
                    border-radius: 10px;
                    border-style: none;
                    cursor: pointer;
                    padding: 15px 28px;
                    margin-top: 40px;

                    &:hover,
                    &:focus {
                        background-color: $hover;
                        outline: none;
                        border-style: none;
                    }

                    @media (max-width: $xsmall) {
                        flex-basis: 100%;
                    }
                }
            }
        }
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
