
header {
    position: relative;

    .header-title {
        background-color: $subtitle;
        padding: 40px 32px 45px 10%;
        position: absolute;
        z-index: 2;
        top: 30%;
        left: 0;
        width: 65%;
    
        @media (max-width: $middle) and (min-width: $small + 1) {
            margin-top: 10px;
            padding: 10px 10px 20px 4%;
        }

        @media (max-width: $small) {
            position: static;
            margin-top: -5px;
            background-color: $header-top;
            width: 100%;
            padding: 20px 10px 30px 10px;
        }
    
        &__title {
            font-size: $size-header;
            color: $white;
    
            @media (max-width: $middle) {
                font-size: $size-header / 1.2;
            }
        }
    
        &__btn {
            margin-left: 10px;
            margin-top: 45px;

            @media (max-width: $middle) {
                margin-left: 10px;
                margin-top: 20px;
            }
    
            a {
                text-decoration: none;
                background-color: $color-main;
                color: $color-text;
                font-size: $size-menu-btn;
                border-radius: 10px;
                padding: 15px 30px;
                transition: 0.5s ease-in-out;
    
                &:hover {
                    background-color: $hover;
                }
    
                @media (max-width: $middle) {
                    font-size: $size-body;
                    padding: 10px 15px;
                }
            }
        }
    
    
    }
}