
$color-main: #FBD341;
$color-text: #000000;
$gray: #726843;
$hover: #FB9141;
$light-gray: #D5D6D4;
$submenu: rgba(51, 153, 231, 0.8);
$subtitle: rgba(42, 119, 187, 0.7);
$white: #FFFFFF;
$white-gray: #cbecf1;
$dark-submenu: #3399E7;