.fade {

    position: relative;
    
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    
    .slick-dots {
        bottom: 20px;
        text-align: start;
        left: 7%;

        @media (max-width: $xsmall) {
            display: none;
        }

        button {
            height: 15px;
            width: 15px;
            background-color: $white-gray;
            border-radius: 50%;

            &:before {
                color: transparent;
            }

            @media (max-width: $small) {
                height: 6px;
                width: 6px;
            }
        }

        .slick-active {
            button {
                &:before {
                    font-size: 18px;
                    color: $color-main;
                    opacity: 100%;
                    line-height: 18px;
                    left: -3px;

                    @media (max-width: $small) {
                        font-size: 12px;
                        line-height: 13px;
                        left: -5px;
                    }
                }
            }
        }
    }
}

