.fade {

    position: relative;
    
    img {
        display: block;
        height: auto;
        margin: 0 auto;

        @media (max-width: $middle) {
            max-width: 100%;
        }
    }
    
    .slick-dots {
        bottom: 25px;
        right: 35.4%;

        button:before {
            content: "";
            height: 14px;
            width: 14px;
            opacity: 1;
            background-color: $white-gray;
            border-radius: 50%;
            transition: background-color 0.5s;

            @media (max-width: $middle) {
                height: 10px;
                width: 10px;
            }
        }

        button:hover {
            &:before {
                background-color: $color-main;
            }
        }

        .slick-active {
            button {
                &:before {
                    background-color: $color-main;
                    opacity: 1;
                }
            }
        }
    }
}

