
$large: 1200px;
$middle: 992px;
$small: 768px;
$xsmall: 576px;

$size-body: 16px;
$size-menu-btn: 18px;
$size-header: 30px;
$size-min-body: 14px;
$title: 20px;
$subtitle: 24px;

@media (min-width: $large + 1) {
    // > 1200
}

@media (max-width: $large) and (min-width: $middle + 1) {
    // 992 .. 1200
}

@media (max-width: $middle) and (min-width: $small + 1) {
    // 768 .. 992
}

@media (max-width: $small) and (min-width: $xsmall + 1) {
    // 576 .. 768
}

@media (max-width: $xsmall) {
    // < 576
}