@charset 'UTF-8';
html
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    overflow-x: hidden;

    width: 100%;
    margin: 0;
    padding: 0;
}

.container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 85%;
    margin: 0 auto;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

@font-face
{
    font-family: Arial, Helvetica, sans-serif;

    src: url(../fonts/arial.ttf);
}

.header-logo
{
    position: absolute;
    z-index: 10;
    top: 5px;
    left: 8%;
}

.header-title
{
    position: absolute;
    z-index: 9;
    top: 30%;
    left: 0;

    width: 65%;
    padding: 40px 80px 45px 8%;

    background-color: rgba(42, 119, 187, .7);
}

.header-title__title
{
    font-size: 30px;

    color: #fff;
}

.header-title__btn
{
    margin-top: 45px;
    margin-left: 10px;
}

.header-title__btn a
{
    font-size: 18px;

    padding: 15px 30px;

    -webkit-transition: .5s ease-in-out;
         -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
    text-decoration: none;

    color: #000;
    border-radius: 10px;
    background-color: #fbd341;
}

.header-title__btn a:hover
{
    background-color: #fb9141;
}

.navbar
{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 8%;
}

.navbar-contacts
{
    font-size: 14px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 15px;

    color: #d5d6d4;

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.navbar-contacts .fa-map-marker-alt
{
    margin-right: 10px;
}

.navbar-contacts .fa-phone-alt
{
    margin-right: 3px;
}

.navbar-contacts .fa-facebook-square
{
    font-size: 20px;

    margin-right: 20px;
}

.navbar-contacts .fa-instagram
{
    font-size: 20px;
}

.navbar-contacts .contact:nth-child(1)
{
    margin-right: 40px;
}

.navbar-contacts .contact:nth-child(2)
{
    margin-right: 60px;
}

.navbar-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 0;

    list-style-type: none;

    border-radius: 10px;
    background-color: #fbd341;
}

.navbar-list a
{
    font-size: 18px;
    font-weight: bold;

    display: block;

    padding: 14px 25px;

    -webkit-transition: .5s ease-in-out;
         -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
    text-decoration: none;
    letter-spacing: .05rem;

    color: #000;
    border-radius: 10px;
    background-color: #fbd341;
}

.navbar-list a:hover
{
    background-color: #fb9141;
}

.navbar-list__item .fas
{
    display: inline-block;

    margin-left: 5px;

    color: #3a3a3a;
}

.navbar-list__item-active
{
    position: absolute;
    z-index: 100;
    left: 0;

    width: 180%;
    padding: 0;

    list-style-type: none;

    -webkit-transition: .5s ease-in-out;
         -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
}

.navbar-list__item-active a
{
    font-size: 14px;

    display: block;

    padding: 10px 25px 10px 30px;

    -webkit-transition: .5s ease;
         -o-transition: .5s ease;
            transition: .5s ease;

    color: #fff;
    border-radius: 0;
    background-color: rgba(51, 153, 231, .8);
}

.navbar-list__item-active a:hover
{
    background-color: #3399e7;
}

.navbar-list .dropdown
{
    position: relative;
}

.navbar-hamburger
{
    position: relative;

    display: none;

    width: 45px;
    height: 35px;

    cursor: pointer;
}

.navbar-hamburger span
{
    position: absolute;
    left: 0;

    display: block;

    width: 100%;
    height: 6px;

    -webkit-transition: .5s ease-in-out;
         -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);

    border-radius: 5px;
    background-color: #fbd341;
}

.navbar-hamburger span:nth-child(1)
{
    top: 0;
}

.navbar-hamburger span:nth-child(2)
{
    top: 13px;
}

.navbar-hamburger span:nth-child(3)
{
    top: 13px;
}

.navbar-hamburger span:nth-child(4)
{
    top: 26px;
}

.navbar .active span:nth-child(1)
{
    top: 18px;
    left: 50%;

    width: 0;
}

.navbar .active span:nth-child(2)
{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.navbar .active span:nth-child(3)
{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.navbar .active span:nth-child(4)
{
    top: 18px;
    left: 50%;

    width: 0;
}

.fade
{
    position: relative;
}

.fade img
{
    display: block;

    max-width: 100%;
    height: auto;
}

.fade .slick-dots
{
    bottom: 20px;
    left: 7%;

    text-align: start;
}

.fade .slick-dots button
{
    width: 15px;
    height: 15px;

    border-radius: 50%;
    background-color: #cbecf1;
}

.fade .slick-dots button:before
{
    color: transparent;
}

.fade .slick-dots .slick-active button:before
{
    font-size: 18px;
    line-height: 18px;

    left: -3px;

    opacity: 100%;
    color: #fbd341;
}

.tours
{
    margin: 40px 0 75px 0;
}

.tours-title
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0 0 60px 0;
}

.tours-title a
{
    font-size: 20px;
    font-weight: bold;

    display: block;

    margin-right: 30px;

    -webkit-transition: .5s ease;
         -o-transition: .5s ease;
            transition: .5s ease;
    text-decoration: none;

    color: #000;
}

.tours-title a:hover
{
    color: #fb9141;
}

.tours-title .active
{
    color: #fbd341;
}

.tours .slick-slide
{
    margin-right: 40px;
}

.tours .slider-item
{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;

    padding: 15px;

    background-color: #f8f7f7;
}

.tours .slider-item__description
{
    position: relative;

    padding: 20px 20px 20px 25px;
}

.tours .slider-item__description span
{
    display: block;
}

.tours .slider-item__description span:nth-child(1)
{
    font-size: 17px;
    font-weight: bold;

    color: #000;
}

.tours .slider-item__description span:nth-child(2)
{
    font-size: 14px;

    position: relative;

    color: #3a3a3a;
}

.tours .slider-item__description span:nth-child(2)::after
{
    display: block;

    height: 1px;
    margin: 10px 0;

    content: '';

    background-color: rgba(137, 137, 137, .5);
}

.tours .slider-item__description span:nth-child(3)
{
    font-size: 14px;

    margin-bottom: 30px;

    color: #3a3a3a;
}

.tours .slider-item__description span:nth-child(4)
{
    font-size: 20px;

    position: relative;

    color: #000;
}

.tours .slider-item__description span:nth-child(4)::after
{
    font-size: 11px;

    position: absolute;
    top: -3px;

    margin-left: 8px;

    content: '/за 1 человека';

    color: #898989;
}

.tours .slider-item__description-btn
{
    position: absolute;
    right: 5px;
    bottom: 5px;

    width: 35px;
    height: 35px;

    cursor: pointer;
    -webkit-transition: .5s ease;
         -o-transition: .5s ease;
            transition: .5s ease;

    border-radius: 50%;
    background-color: #fbd341;
}

.tours .slider-item__description-btn:hover
{
    background-color: #fb9141;
}

.tours .slider-item__description-btn i
{
    display: block;

    margin-top: 9px;
    margin-left: 2px;

    text-align: center;
}

.advantages
{
    background-color: #f8f7f7;
}

.advantages-title h2
{
    font-size: rgba(42, 119, 187, .7);

    margin-top: 40px;
    margin-bottom: 60px;

    text-transform: uppercase;
}

.advantages-wrap
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 75px;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.advantages-wrap img
{
    display: block;
}

.advantages-wrap__description
{
    position: relative;

    max-width: 590px;
    margin-left: 90px;
    padding-right: 50px;

    border-right: 1px solid rgba(137, 137, 137, .5);
}

.advantages-wrap__description p
{
    line-height: 24px;

    margin: 0;
}

.advantages-wrap__description .point
{
    font-size: 5px;

    position: absolute;
    top: 0;
    right: -4px;

    width: 8px;
    height: 8px;

    color: transparent;
    border-radius: 50%;
    background-color: #fbd341;
}

@media (max-width: 992px)
{
    .container
    {
        width: 100%;
    }
    .header-title__title
    {
        font-size: 25px;
    }
    .tours-title
    {
        margin: 0 0 60px 10px;
    }
    .advantages-title
    {
        margin: 0 auto;
    }
    .advantages-wrap
    {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width: 768px)
{
    .header-logo
    {
        left: 50%;

        margin-left: -50px;
    }
    .header-title__btn a
    {
        font-size: 16px;

        padding: 10px 15px;
    }
    .navbar-contacts
    {
        display: block;

        text-align: center;
    }
    .navbar-contacts .contact:nth-child(1)
    {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .navbar-contacts .contact:nth-child(2)
    {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .navbar-list
    {
        display: none;
    }
    .navbar-list__item
    {
        display: block;

        text-align: center;
    }
    .navbar-hamburger
    {
        z-index: 11;

        display: block;

        margin: 15px auto 0 auto;
    }
    .fade .slick-dots button
    {
        width: 6px;
        height: 6px;
    }
    .fade .slick-dots .slick-active button:before
    {
        font-size: 12px;
        line-height: 13px;

        left: -5px;
    }
    .advantages-wrap__description
    {
        margin-top: 10px;
        margin-left: 0;
        padding-right: 10px;
    }
}

@media (max-width: 1092px)
{
    .header-title
    {
        position: static;

        width: 100%;
        margin-top: 10px;
        padding: 20px 40px 25px 4%;
    }
    .navbar
    {
        top: 12%;
        right: 0;

        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 992px) and (min-width: 769px)
{
    .navbar-list
    {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .navbar-list a
    {
        font-size: 16.36364px;

        padding: 10px 15px;
    }
    .advantages-wrap__description
    {
        margin-top: 10px;
        margin-left: 0;
    }
}

@media (min-width: 993px)
{
    .navbar-list .dropdown:hover .navbar-list__item-active
    {
        -webkit-transform: scaleY(1);
            -ms-transform: scaleY(1);
                transform: scaleY(1);
    }
}

@media (max-width: 576px)
{
    .fade .slick-dots
    {
        display: none;
    }
}
