@charset 'UTF-8';
html
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

a
{
    text-decoration: none;

    outline: none;
}

header
{
    position: relative;
}

header .header-title
{
    position: absolute;
    z-index: 2;
    top: 30%;
    left: 0;

    width: 65%;
    padding: 40px 32px 45px 10%;

    background-color: rgba(0, 76, 132, .49);
}

header .header-title__title
{
    font-size: 30px;

    color: #fff;
}

header .header-title__btn
{
    margin-top: 45px;
    margin-left: 10px;
}

header .header-title__btn a
{
    font-size: 18px;

    padding: 15px 30px;

    -webkit-transition: .5s ease-in-out;
         -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
    text-decoration: none;

    color: #000;
    border-radius: 10px;
    background-color: #fbd341;
}

header .header-title__btn a:hover
{
    background-color: #fb9141;
}

.wrapper
{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;

    width: 100%;
}

.wrapper:before
{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
}

.wrapper .header-top
{
    position: relative;
    top: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 95px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.wrapper .header-top .header-logo
{
    position: relative;
    z-index: 3;

    -webkit-box-flex: 0;
    -ms-flex: 0 0 92px;
        flex: 0 0 92px;
    -ms-flex-item-align: center;
    align-self: center;
}

.wrapper .header-top .header-logo img
{
    display: block;

    max-width: 100%;
}

.wrapper .header-top .navbar
{
    position: relative;
    z-index: 3;
}

.wrapper .header-top .navbar-contacts
{
    font-size: 14px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 14px;

    color: #d5d6d4;

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.wrapper .header-top .navbar-contacts .fa-map-marker-alt
{
    margin-right: 10px;
}

.wrapper .header-top .navbar-contacts .fa-phone-alt
{
    margin-right: 3px;
}

.wrapper .header-top .navbar-contacts .fa-facebook-square
{
    font-size: 20px;

    margin-right: 20px;
}

.wrapper .header-top .navbar-contacts .fa-instagram
{
    font-size: 20px;
}

.wrapper .header-top .navbar-contacts .contact:nth-child(1)
{
    margin-right: 40px;
}

.wrapper .header-top .navbar-contacts .contact:nth-child(2)
{
    margin-right: 60px;
}

.wrapper .header-top .navbar-list
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 0;

    list-style-type: none;

    border-radius: 10px;
    background-color: #fbd341;
}

.wrapper .header-top .navbar-list a
{
    font-size: 18px;
    font-weight: bold;

    display: block;

    padding: 12px 25px;

    -webkit-transition: .5s ease-in-out;
         -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
    letter-spacing: .05rem;

    color: #000;
    border-radius: 10px;
    background-color: #fbd341;
}

.wrapper .header-top .navbar-list a:hover
{
    background-color: #fb9141;
}

.wrapper .header-top .navbar-list__item-active
{
    position: absolute;
    z-index: 100;
    left: 0;

    width: 180%;
    padding: 0;

    list-style-type: none;

    -webkit-transition: .5s ease-in-out;
         -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
}

.wrapper .header-top .navbar-list__item-active a
{
    font-size: 14px;

    display: block;

    padding: 10px 25px 10px 30px;

    -webkit-transition: .5s ease;
         -o-transition: .5s ease;
            transition: .5s ease;

    color: #fff;
    border-radius: 0;
    background-color: rgba(51, 151, 226, .8);
}

.wrapper .header-top .navbar-list__item-active a:hover
{
    background-color: #2570a9;
}

.wrapper .header-top .navbar-list .dropdown
{
    position: relative;
}

.wrapper .header-top .navbar-list .dropdown .navbar-down
{
    background-image: url(../img/navbar_down.png);
    background-repeat: no-repeat;
    background-position: center right;
}

.wrapper .header-top .navbar-hamburger
{
    position: relative;

    display: none;

    width: 45px;
    height: 35px;

    cursor: pointer;
}

.wrapper .header-top .navbar-hamburger span
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 4px;

    -webkit-transition: .5s ease-in-out;
         -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);

    border-radius: 5px;
    background-color: #fbd341;
}

.wrapper .header-top .navbar-hamburger span:nth-child(1)
{
    top: 0;
}

.wrapper .header-top .navbar-hamburger span:nth-child(2)
{
    top: 13px;
}

.wrapper .header-top .navbar-hamburger span:nth-child(3)
{
    top: 13px;
}

.wrapper .header-top .navbar-hamburger span:nth-child(4)
{
    top: 26px;
}

.wrapper .header-top .navbar .active span:nth-child(1)
{
    top: 18px;
    left: 50%;

    width: 0;
}

.wrapper .header-top .navbar .active span:nth-child(2)
{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.wrapper .header-top .navbar .active span:nth-child(3)
{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.wrapper .header-top .navbar .active span:nth-child(4)
{
    top: 18px;
    left: 50%;

    width: 0;
}

.fade
{
    position: relative;
}

.fade img
{
    display: block;

    height: auto;
    margin: 0 auto;
}

.fade .slick-dots
{
    right: 35.4%;
    bottom: 25px;
}

.fade .slick-dots button:before
{
    width: 14px;
    height: 14px;

    content: '';
    -webkit-transition: background-color .5s;
         -o-transition: background-color .5s;
            transition: background-color .5s;

    opacity: 1;
    border-radius: 50%;
    background-color: #cbecf1;
}

.fade .slick-dots button:hover:before
{
    background-color: #fbd341;
}

.fade .slick-dots .slick-active button:before
{
    opacity: 1;
    background-color: #fbd341;
}

.tours
{
    margin: 40px 0 75px 0;
}

.tours-title
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0 0 60px 0;
}

.tours-title a
{
    font-size: 20px;
    font-weight: bold;

    display: block;

    margin-right: 30px;

    -webkit-transition: .5s ease;
         -o-transition: .5s ease;
            transition: .5s ease;
    text-decoration: none;

    color: #000;
}

.tours-title a:hover
{
    color: #fb9141;
}

.tours-title .active
{
    color: #fbd341;
}

.tours .slick-slider
{
    margin: 0 30px;
}

.tours .slick-slide
{
    margin-right: 40px;

    outline: none;
}

.tours .slick-next:before
{
    color: transparent;
    background-image: url(../img/tours-arrow-right.png);
    background-repeat: no-repeat;
}

.tours .slick-prev:before
{
    color: transparent;
    background-image: url(../img/tours-arrow-left.png);
    background-repeat: no-repeat;
}

.tours .slider-item
{
    padding: 15px;

    background-color: #f8f7f7;
}

.tours .slider-item__description
{
    position: relative;

    padding: 20px 20px 20px 25px;
}

.tours .slider-item__description span
{
    display: block;
}

.tours .slider-item__description span:nth-child(1)
{
    font-size: 17px;
    font-weight: bold;

    color: #000;
}

.tours .slider-item__description span:nth-child(2)
{
    font-size: 14px;

    position: relative;

    color: #3a3a3a;
}

.tours .slider-item__description span:nth-child(2)::after
{
    display: block;

    height: 1px;
    margin: 10px 0;

    content: '';

    background-color: rgba(137, 137, 137, .5);
}

.tours .slider-item__description span:nth-child(3)
{
    font-size: 14px;

    margin-bottom: 30px;

    color: #3a3a3a;
}

.tours .slider-item__description span:nth-child(4)
{
    font-size: 20px;

    position: relative;

    color: #000;
}

.tours .slider-item__description span:nth-child(4)::after
{
    font-size: 11px;

    position: absolute;
    top: -3px;

    margin-left: 8px;

    content: '/за 1 человека';

    color: #898989;
}

.tours .slider-item__description-btn
{
    position: absolute;
    right: 0;
    bottom: 0;

    width: 35px;
    height: 35px;

    cursor: pointer;
    -webkit-transition: .5s ease;
         -o-transition: .5s ease;
            transition: .5s ease;

    border-radius: 50%;
    background-color: #fbd341;
}

.tours .slider-item__description-btn:hover
{
    background-color: #fb9141;
}

.tours .slider-item__description-btn i
{
    display: block;

    margin-top: 9px;
    margin-left: 2px;

    text-align: center;
}

.advantages
{
    background-color: #f8f7f7;
}

.advantages-title h2
{
    font-size: rgba(0, 76, 132, .49);

    margin-top: 40px;
    margin-bottom: 60px;

    text-transform: uppercase;
}

.advantages-wrap
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 75px;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.advantages-wrap img
{
    display: block;
}

.advantages-wrap__description
{
    position: relative;

    max-width: 590px;
    margin-left: 90px;
    padding-right: 50px;

    border-right: 1px solid rgba(137, 137, 137, .5);
}

.advantages-wrap__description p
{
    line-height: 24px;

    margin: 0;
}

.advantages-wrap__description .point
{
    font-size: 5px;

    position: absolute;
    top: 0;
    right: -4px;

    width: 8px;
    height: 8px;

    color: transparent;
    border-radius: 50%;
    background-color: #fbd341;
}

.form
{
    background-image: url(../img/form-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.form .container
{
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.form .container .form-title
{
    margin-top: 25px;
    margin-bottom: 10px;
}

.form .container .form-title h2
{
    font-size: rgba(0, 76, 132, .49);

    text-transform: uppercase;

    color: #fff;
}

.form .container .form-content
{
    margin-bottom: 40px;
    padding: 0 30px 40px 40px;

    background-color: rgba(1, 15, 29, .7);
}

.form .container .form-content form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.form .container .form-content form input
{
    font-size: 18px;

    padding-left: 10px;

    color: #fff;
    border-style: none;
    border-bottom: 1px solid rgba(137, 137, 137, .5);
    outline: none;
    background-color: transparent;
}

.form .container .form-content form input::-webkit-input-placeholder
{
    margin: 0;

    color: #fff;
}

.form .container .form-content form input::-moz-placeholder
{
    margin: 0;

    color: #fff;
}

.form .container .form-content form input:-ms-input-placeholder
{
    margin: 0;

    color: #fff;
}

.form .container .form-content form input::-ms-input-placeholder
{
    margin: 0;

    color: #fff;
}

.form .container .form-content form input::placeholder
{
    margin: 0;

    color: #fff;
}

.form .container .form-content form input:hover,
.form .container .form-content form input:focus
{
    border-style: none;
    border-bottom: 1px solid rgba(137, 137, 137, .5);
    -o-border-image: none;
       border-image: none;
}

.form .container .form-content form .select
{
    position: relative;
}

.form .container .form-content form .select__header
{
    font-size: 18px;

    padding-bottom: 1px;

    cursor: pointer;

    color: #fff;
    border-bottom: 1px solid rgba(137, 137, 137, .5);
    background-image: url(../img/down.png);
    background-repeat: no-repeat;
    background-position: center right;
}

.form .container .form-content form .select__header .select__current
{
    padding-right: 35px;
    padding-left: 10px;
}

.form .container .form-content form .select__body
{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;

    display: none;

    margin: 0;
    padding: 15px;
    padding: 15px;

    list-style-type: none;

    cursor: pointer;

    background-color: #fff;
}

.form .container .form-content form .select__body .select__item
{
    font-size: 16px;
    line-height: 27px;

    -webkit-transition: .3s ease;
         -o-transition: .3s ease;
            transition: .3s ease;

    color: #000;
}

.form .container .form-content form .select__body .select__item:hover
{
    color: #fbd341;
}

.form .container .form-content form .active .select__body
{
    display: block;
}

.form .container .form-content form .form-btn
{
    font-size: 18px;

    margin-top: 40px;
    padding: 15px 28px;

    cursor: pointer;
    -webkit-transition: .3s ease-in-out;
         -o-transition: .3s ease-in-out;
            transition: .3s ease-in-out;

    border-style: none;
    border-radius: 10px;
    background-color: #fbd341;
}

.form .container .form-content form .form-btn:hover,
.form .container .form-content form .form-btn:focus
{
    border-style: none;
    outline: none;
    background-color: #fb9141;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

.footer
{
    font-size: 14px;
    line-height: 24px;

    padding: 60px 0 30px 0;

    color: #fff;
    background-color: #22334d;
}

.footer .container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer .container .footer-tour
{
    max-width: 311px;
}

.footer .container .footer-tour__description::before
{
    display: block;

    width: 95%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 15px;

    content: '';

    background-color: rgba(137, 137, 137, .5);
}

.footer .container .footer-tour__description:after
{
    display: block;

    width: 95%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 15px;

    content: '';

    background-color: rgba(137, 137, 137, .5);
}

.footer .container .footer-tour__copyright
{
    background-image: url(../img/copyright.png);
    background-repeat: no-repeat;
    background-position: 56% 50%;
}

.footer .container .contacts .contacts-title li
{
    padding: 5px;
}

.footer .container .contacts .contacts-title li i
{
    margin-right: 10px;
}

.footer .container .contacts .contacts-title li .fab
{
    font-size: 20px;

    margin-right: 25px;
}

.footer .container h4
{
    text-align: center;
}

.footer .container ul
{
    font-size: 18px;
    line-height: 24px;

    list-style: none;
}

.footer .container ul li
{
    font-size: 14px;

    color: #fff;
}

.footer .container ul li a
{
    font-size: 14px;

    display: block;

    padding: 5px;

    text-decoration: none;

    color: #fff;
    border-radius: 5px;
}

.footer .container ul li a:hover
{
    background-color: #192538;
}

.footer .container ul li:nth-child(1)
{
    margin-top: 20px;
}

@media (max-width: 768px)
{
    html .lock
    {
        overflow: hidden;
    }
    header .header-title
    {
        position: static;

        width: 100%;
        margin-top: -5px;
        padding: 20px 10px 30px 10px;

        background-color: rgba(0, 76, 132, .8);
    }
    .wrapper
    {
        position: fixed;
        z-index: 50;
    }
    .wrapper:before
    {
        background-color: rgba(0, 76, 132, .8);
    }
    .wrapper .header-top
    {
        height: 75px;
    }
    .wrapper .header-top .header-logo
    {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 72px;
            flex: 0 0 72px;
    }
    .wrapper .header-top .navbar
    {
        -ms-flex-item-align: center;
        align-self: center;
    }
    .wrapper .header-top .navbar-contacts
    {
        display: none;
    }
    .wrapper .header-top .navbar-contacts .contact:nth-child(1)
    {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .wrapper .header-top .navbar-contacts .contact:nth-child(2)
    {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .wrapper .header-top .navbar-list
    {
        position: fixed;
        top: 59px;
        left: 0;

        display: none;
        overflow: auto;

        width: 100%;
        height: 100%;

        border-radius: 0;
    }
    .wrapper .header-top .navbar-list a:hover
    {
        border-radius: 0;
    }
    .wrapper .header-top .navbar-list__item
    {
        display: block;

        text-align: center;
    }
    .wrapper .header-top .navbar-hamburger
    {
        z-index: 11;

        display: block;
    }
    .advantages-wrap__description
    {
        margin-top: 10px;
        margin-left: 0;
        padding-right: 10px;
    }
}

@media (max-width: 992px) and (min-width: 769px)
{
    header .header-title
    {
        margin-top: 10px;
        padding: 10px 10px 20px 4%;
    }
    .wrapper .header-top .navbar-list a
    {
        font-size: 16.36364px;

        padding: 10px 15px;
    }
    .advantages-wrap__description
    {
        margin-top: 10px;
        margin-left: 0;
    }
}

@media (max-width: 992px)
{
    header .header-title__title
    {
        font-size: 25px;
    }
    header .header-title__btn
    {
        margin-top: 20px;
        margin-left: 10px;
    }
    header .header-title__btn a
    {
        font-size: 16px;

        padding: 10px 15px;
    }
    .wrapper .header-top .navbar-list .dropdown .navbar-down
    {
        background-image: none;
    }
    .fade img
    {
        max-width: 100%;
    }
    .fade .slick-dots button:before
    {
        width: 10px;
        height: 10px;
    }
    .tours-title
    {
        margin: 0 0 60px 10px;
    }
    .advantages-title
    {
        margin: 0 auto;
    }
    .advantages-wrap
    {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .form .container .form-title
    {
        margin: 0 auto;
    }
}

@media (min-width: 993px)
{
    .wrapper .header-top .navbar-list .dropdown:hover .navbar-list__item-active
    {
        -webkit-transform: scaleY(1);
            -ms-transform: scaleY(1);
                transform: scaleY(1);
    }
}

@media (min-width: 501px)
{
    .tours .slider-item
    {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

@media (max-width: 500px)
{
    .tours .slider-item
    {
        display: block;
    }
    .tours .slider-item img
    {
        margin: 0 auto;
    }
}

@media (max-width: 576px)
{
    .advantages-wrap img
    {
        width: 100%;
        min-width: 350px;
    }
    .form .container .form-content form input:nth-child(1)
    {
        margin-top: 30px;

        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .form .container .form-content form input:nth-child(2)
    {
        margin-top: 30px;

        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .form .container .form-content form input:nth-child(3)
    {
        margin-top: 30px;

        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .form .container .form-content form .select
    {
        margin-top: 30px;

        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .form .container .form-content form .form-btn
    {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .footer .container .footer-tour
    {
        margin: 0 auto;

        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .footer .container .navigation
    {
        margin: 0 auto;

        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .footer .container .support
    {
        margin: 0 auto;

        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .footer .container .contacts
    {
        margin: 0 auto;

        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

@media (max-width: 1200px)
{
    .form .container .form-content form
    {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .footer .container
    {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}

@media (min-width: 1201px)
{
    .form .container .form-content form input:nth-child(1)
    {
        max-width: 130px;
        margin-right: 30px;
    }
    .form .container .form-content form input:nth-child(2)
    {
        max-width: 180px;
        margin-right: 30px;
    }
    .form .container .form-content form input:nth-child(3)
    {
        max-width: 142px;
        margin-right: 45px;
    }
    .form .container .form-content form .select
    {
        width: 179px;
        margin-right: 50px;
    }
}

@media (max-width: 1200px) and (min-width: 577px)
{
    .form .container .form-content form input:nth-child(1)
    {
        margin-top: 30px;

        -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    }
    .form .container .form-content form input:nth-child(2)
    {
        margin-top: 30px;

        -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    }
    .footer .container .footer-tour
    {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .footer .container .navigation
    {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .footer .container .support
    {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .footer .container .contacts
    {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
}

@media (max-width: 768px) and (min-width: 577px)
{
    .form .container .form-content form input:nth-child(3)
    {
        margin-top: 30px;

        -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    }
    .form .container .form-content form .select
    {
        margin-top: 30px;

        -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    }
}
